.gameContainer {
	position: fixed;
	width: 40%;
	height: 80%;
	bottom: 10%;
	margin-left: 30%;
}
#canvas {
	border: solid;
	background-color: black;
}
body {
	background-image: url('./images/background.jpg');
}
